<!-- START HTML -->
<main class="container">

<!-- HEADER -->
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <h1>EAT DA BURGER!</h1>
            </div>
        </div>
    </div>

<!-- BURGER IMAGE -->
    <div class="row">
        <img class="center-block" src="/assets/img/burgers.png" alt="Burgers" style="max-width: 300px">
    </div>

<!-- ORDERED BURGERS -->
    <div class="row" id="burgersDiv">
        <div class="col-lg-4" id="burgerList">
            <table>
                {{#each burgers}}
                    {{#unless this.devoured}}
                        <tr><td>
                            <div style="margin-right: 10px; font-size: 19px; font-weight: 400; background-color: #FFF; padding:5px 8px;">
                            {{this.burger_name}}
                            </div>
                            </td><td>
                            <form action="burgers/update/devour/{{this.id}}?_method=PUT" method="POST">
                                <input type="hidden" name="devoured" value="1" >
                                <button type="submit" class="btn btn-info btn-xs" id="devourBtn">EAT IT</span></button>
                            </form>
                            </td></tr>
                    {{/unless}}
                {{/each}}
            </table>
        </div>

<!-- ORDER FORM -->
        <div class="col-lg-4">
            <div class="row center-block">
                <form class="form-horizontal" action="burgers/create" method="POST">
                    <fieldset>
                        <h2>ORDER YOUR BURGER HERE:</h2>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <input name="burgerName" type="text" placeholder="What would you like:" class="form-control">
                                <span class="help-block">Enter the name of the burger you want to order and click "SUBMIT"</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-primary btn-sm">PLACE ORDER</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

<!-- DEVOURED BURGERS -->
<div class="col-lg-4" id="devouredBurgers">
            
            
              <table>
                {{#each burgers}}
                    {{#if this.devoured}}
                        <tr><td>
                            <div style="margin: 0px 10px 10px 0px; font-size: 19px; font-weight: 400; background-color: #FFF; padding:8px 8px;">
                               {{this.burger_name}}
                            </div>
                            </td><td>
                             <form action="burgers/delete/{{this.id}}?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger btn-xs" id="devourBtn">DELETE</button>
                            </form>
                            </td></tr>
                     {{/if}}
                {{/each}}
                </table>
        </div>
    </div>
</main>